@{
    ViewData["Title"] = "Login";
    string Password = string.Empty;
    string Email = string.Empty;

}

<form asp-action="Login" method="post"> 
    
    <label asp-for="@Email">Email</label>
    <input asp-for="@Email" type="text">

    <label asp-for="@Password">Password</label>
    <input asp-for="@Password"type="password" >

    <button id="submit" type="submit">Login</button>
</form>