@model IEnumerable<Transaction>

@if (!Model.Any())
{
    <h1 class="text-center" style="padding-top: 300px; color: #fff">There is no finances!</h1>
}
else
{
    <ul class="get-all-ul text-center" style="padding-top: 100px;">
        @foreach (var item in Model)
        {
            <span>Description: @item.Description</span>
            <span>Amount: @item.Amount</span>
            <br />
        }
    </ul>
}

<style>
    .get-all-ul span {
        color: #fff;
        font-size: 20px;
    }

    .get-all-ul {
        display: flex;
        flex-direction: column;
    }
</style>