@model PaymentViewModel

<h1>Create Transaction</h1>

<form asp-action="Create" method="post">

    <img src="~/@Model.Service.ImageUrl">
    <div>
        <span>
            @Model.User.UserName
            @Model.User.Age
            @Model.User.Email
        </span>
    </div>
    <button type="submit" class="btn btn-primary">Pay</button>

</form>
