@model IEnumerable<Service>




@{
    ViewData["Title"] = "Services";

    string service = string.Empty;
}





<div class="services-div">

    <form asp-controller="Finance" asp-action="Search" class="form-inline my-2 my-lg-0">
        <input type="text" name="service" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    @if (Model.Any() == false)
    {
        <p class="text-white">Here is nothing</p>
    }
    @foreach (var serviceItem in Model)
    {
        <a href="/Finance/Payment?id=@serviceItem.Id"><img src="~/@serviceItem.ImageUrl"></a>
    }
    <a asp-action="AddService" type="button" class="btn btn-primary">Add Service</a>
</div>



<style>
    .services-div {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-left: 190px;
        margin-top: 100px;
    }

    .services-div img {
        width: 280px;
        height: 280px;
        border-radius: 10px;
    }

    .services-div img:hover {
        opacity: 0.7;
        transition: 0.4s ease;
    }

    .search {
        margin-top: 100px;
    }
</style>