@model IEnumerable<Service>

@{
    ViewData["Title"] = "Services";
    bool isAdmin = base.User.IsInRole("Admin");

    string service = string.Empty;
}


@if (Model.Any() == false)
{
    <p class="text-white">Here is nothing</p>
}

<div class="services-div">
    <form asp-controller="Finance" asp-action="Search">
        <input type="text" name="service" placeholder="Search By Name . . ." />
        <button type="submit">Search</button>
    </form>

    @if (isAdmin)
    {
        <a class="add-service" asp-action="AddService" type="button">Add Service</a>
    }


    <div class="gallery">
        @foreach (var serviceItem in Model)
        {
            <a href="/Finance/Payment?id=@serviceItem.Id"><img src="~/@serviceItem.ImageUrl"></a>
        }
    </div>
</div>

<style>
    .services-div {
        margin-top: 100px;
    }

    .services-div form input {
        width: 300px;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #ededed;
    }

    .services-div form button {
        height: 34px;
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #28565ed6;
        color: #fff;
    }

    .services-div form button:hover {
        background-color: #0d4b55d6;
        transition: .2s ease;
    }

    .add-service {
        width: 400px;
        padding: 10px 15px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin-top: 10px;
        background-color: #112e42;
    }

    .add-service:hover {
        color: #fff;
        background-color: #002842;
        transition: .2s ease;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 50px;
        margin: 50px 0 50px 80px;
    }

    .gallery img {
        border-radius: 10px;
        width: 200px;
        height: 200px;
    }

    .gallery img:hover {
        opacity: 0.8;
        transition: .1s;
    }
</style>