@model Bill

<h1>Update Finance</h1>

<form asp-action="Update" method="post" class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
        <h2>Update</h2>
        <input asp-for="@Model.Id" hidden>
        <div class="inputBx">
            <input asp-for="@Model.PayDate" type="datetime-local">
        </div>
        <div class="inputBx">
            <input type="submit" value="Update">
        </div>
    </div>
</form>