@{
    bool isAuthenticated = base.User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinanceApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceApp.styles.css" asp-append-version="true" />
    <title>Finance App</title>
</head>

<body>
    <nav>
        <div class="logo" style="display: flex;align-items: center;">
            <span
                style="color:#01939c; font-size:26px; font-weight:bold; letter-spacing: 1px;margin-left: 20px;">FinanceApp</span>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            @if (isAuthenticated)
            {
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Finance" asp-action="Create">Create</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="LogOut">Logout</a></li>
            }
            <li><a class="nav-link text-dark" asp-area="" asp-controller="Finance" asp-action="GetAll">GetAll</a></li>
            @if (!isAuthenticated)
            {
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Login">Login</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Identity"
                        asp-action="Registration">Registration</a></li>
            }
        </ul>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<style>
    body {
        overflow-x: hidden;
    }

    nav {
        height: 4.5rem;
        width: 100vw;
        background-color: #131418;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        position: fixed;
        z-index: 10;
        color: #fff !important;
    }

    .logo {
        padding: 1vh 1vw;
        text-align: center;
    }

    .logo img {
        height: 5rem;
        width: 5rem;
    }

    .nav-links {
        display: flex;
        list-style: none;
        width: 88vw;
        padding: 0 0.7vw;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }

    .nav-links li a {
        padding-top: 25px;
        text-decoration: none;
        margin: 0 0.7vw;
        color: rgb(216, 209, 209) !important;
    }

    .nav-links li a:hover {
        color: #ffffff !important;
    }

    .nav-links li {
        position: relative;
    }

    .nav-links li a:hover::before {
        width: 80%;
    }

    .login-button {
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        border-radius: 2em;
        padding: 0.6rem 0.8rem;
        margin-left: 2vw;
        font-size: 1rem;
        cursor: pointer;

    }

    .login-button:hover {
        color: #131418;
        background-color: #f2f5f7;
        border: 1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
    }

    .join-button {
        color: #131418;
        background-color: #61DAFB;
        border: 1.5px solid #61DAFB;
        border-radius: 2em;
        padding: 0.6rem 0.8rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .join-button:hover {
        color: #f2f5f7;
        background-color: transparent;
        border: 1.5px solid #f2f5f7;
        transition: all ease-in-out 350ms;
    }
</style>