@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 400px;">
    <h1 class="display-4" style="color: #fff;">Welcome</h1>
    <p style="color: #fff;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
