@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top: 100px;">
    <h1 class="display-4" style="color: #fff;">"Welcome to Finance App!

<br>
<br>
Take control of your finances like never before. <br>Our intuitive platform empowers you to manage your money with ease.
<br>
Start your journey to financial freedom today with Finance App!"</h1>



<style>
    .display-4{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

@* <style>
    .service-picture{
        width: 250px;
    }
</style> *@